{% extends "FindTeammates/base.html" %}
{% block content %}
<form id="createform" role="form" action="addNewTeam" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="teamName">Team Name</label>
		<input type="text" name="teamName" class="createinput form-control" id="teamName" placeholder="Enter team name...">
	</div>
	<div class="form-group">
		<label for="tteamDescription">Description</label>
		<input type="text" name="teamDescription" class="createinput form-control" id="teamDescription" placeholder="Enter team description...">
	</div>
	<div class="form-group">
		<label for="teamSize">Team Name</label>
		<input type="text" name="teamSize" class="createinput form-control" id="teamSize" placeholder="Enter team size...">
	</div>
	<button id="createbutton" type="submit" class="btn btn-primary">Create Team!</button>
</form>

{% endblock %}