 <script type="text/javascript">
    $(document).ready(function() {
        $("input[name=invite]").click(function() {
            //var input_string = $("#forminput").val();
            alert("Sent invitation successfully!");
            $.ajax({
                url : "../inviteHis", 
                type : "POST",
                dataType: "json", 
                data : {
                    client_response : this.id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    current_course_id: '{{ current_course_id }}' 
                    },
                    success : function(json) {
                        alert("success");
                        $('#result').append( 'Server Response: ' + json.server_response);
                    },
                    error : function(xhr,errmsg,err) {
                        //alert(xhr.status + ": " + xhr.responseText);
                    }
            });
            return false;
        });
    });
</script>

    
<!-- Team Members Row -->
<div class="row">
    {% if courselist.0 %}
<div class="col-lg-12">
        <h2 class="page-header">Who is still finding a team... </h2>
    </div>
    {% if student_list.0 %}
        {% for student, rate in student_list %}
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src={{student.image}} alt="" height="200" width="200">
            <h3><a href={{student.url}}}>{{ student.name }}</a></h3>
             <h4>{{ student.headline}}</h4>
            
           
            <h5> {{student.skill}}</h5>
            {% if rate != "N/A" %}
            <h4> recommended rate: {{rate}}</h4>
            <form method="post" name="" >
                {% csrf_token %}
                <input id={{ student.id }} name="invite" type="button" class="btn btn-primary btn-large" value="Invite!"></input>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p> There are no other students who are still finding a team. </p>
    {% endif %}
    {% else %}
    <div class="col-lg-12">
        <h2 class="page-header">You haven't registered any course.</h2>
        <h2 class="page-header">Please register one course first. </h2>
    </div>
    {% endif %}
</div>

<hr>