 
 {% extends "FindTeammates/base.html" %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

<div style="margin-top: 50px; margin-left:20px; margin-right:10px">

    <div class="row jumbotron">
        
        <div class="col-md-8 ">
            <div>
<span style="font-family: 'Raleway', sans-serif; font-size:30px">Team Name</span> &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930"> {{team.teamName}}</span>
</div>
<div>
<span style="font-family:'Raleway', sans-serif; font-size:30px">University</span>   &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930">{{team.courseID.University}}</span> 
</div>
<div>
 <span style="font-family:'Raleway', sans-serif; font-size:30px;">Course Name</span>  &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930">  {{team.courseID.courseName|rjust:"50"}} </span>
</div>
<div>
             <span style="font-family:'Raleway', sans-serif; font-size:30px">Professor</span>  &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930">  {{team.courseID.Professor}} </span>
</div>
<div>
             <span style="font-family:'Raleway', sans-serif; font-size:30px">Team Capacity</span>  &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930">  {{team.Size}} </span>
</div>
<div>
             <span style="font-family:'Raleway', sans-serif;font-size:30px">Team Leader</span>  &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930">  {{team.ownerID.name}}</span> 
</div>
<div>
    <span style="font-family:'Raleway', sans-serif; font-size:30px;">Team Description</span> &nbsp;&nbsp;&nbsp; <span style="font-family:'Oswald', sans-serif; font-size:30px;color:#835930"> {{team.teamDescription}} </span>
</div>
             
        </div>

        <div class="col-md-2  col-md-offset-1">
          
            <button type="button" class="btn btn-primary text-center">Leave Team</button>
        </div>


    </div>
    <div class="row jumbotron" style="margin-top: 50px; margin-left:10px; margin-right:10px">
       <h3><span style="font-family:'Raleway', sans-serif; font-size:30px;">Team Members</span></h3>
      <hr>
        {% for student in team_members %}
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src={{student.image}} alt="" height="200" width="200">
             <h3 class=" text-center" style="font-family: 'Raleway', sans-serif;"><a href={{student.url}}}>{{ student.name }}</a></h3>
            <div  class="alert alert-danger" role="alert">
             <h4 class="text-center" style="font-family: 'Chewy', cursive;">{{ student.headline}}</h4>
             <h4 style="font-family: 'Chewy', cursive;">
            <div> Skills:  {{student.skill|slice:"1:-1"|rjust:"10" }}</div>
            </h4>
        </div>
        </div>
        {% endfor %}
    </div>

 

<hr>
</div>
{% endblock %}