{% extends "FindTeammates/base.html" %}

{% block content %}

 <script type="text/javascript">
    $(document).ready(function() {
        $("input[name=join]").click(function() {
            //var input_string = $("#forminput").val();
            console.log('yay');
            alert("Sent join request successfully!");
            $.ajax({
                url : "../joinHis", 
                type : "POST",
                dataType: "json", 
                data : {
                    client_response : this.id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        alert("success");
                        $('#result').append( 'Server Response: ' + json.server_response);
                    },
                    error : function(xhr,errmsg,err) {
                        //alert(xhr.status + ": " + xhr.responseText);
                    }
            });
            return false;
        });
    });
</script>
    <!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
    {% if team_list.0 %}
        {% for team in team_list %}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>{{ team.teamName }}</h3>
                    <p>{{ team.teamDescription }}</p>
                    <form method="post" name="" >
                        {% csrf_token %}
                        <input id={{ team.id }} name="join" type="button" value="Join!"></input>
                    </form> 
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No plans are available.</p>
    {% endif %}
</div>

<hr>
{% endblock %}


